<div>
  <div class="dropdown" (mouseleave)="showDropDown = false">
    <button class="dropdown__toggle" (click)="showDropDown=!showDropDown">
      <span *ngIf="selected.length <= 0">Select</span>
      <span *ngIf="selected.length>0">
        <span *ngFor="let item of selected" class="dropdown__toggle--item">
            {{item[labelKey]}}
            <span (click)="removeItem(item)">X</span>
        </span>
      </span>
      <i class="fa fa-angle-down"></i>
    </button>
    <div class="dropdown__show btn" *ngIf="showDropDown">
      <ng-container *ngIf="groups.length > 0">
        <ng-container *ngFor="let group of groups">
            <span>{{groupLabels? groupLabels[group] : group}}</span>
            <label *ngFor="let item of getByGroup(group)">
                <input
                    type="checkbox"
                    [checked]="isSelected(item)"
                    (change)="updateSelection(item)"
                    [disabled]="!canSelectItem(item)"
                />
                <span>{{item[labelKey]}}</span>
            </label>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="groups.length <= 0">
        <label *ngFor="let item of data">
            <input
                type="checkbox"
                [(ngModel)]="item.checked"
                (change)="updateSelection(item)"
                [disabled]="canSelectItem(item)"
            />
            <span>{{item[labelKey]}}</span>
        </label>
      </ng-container>
    </div>
  </div>
</div>
